body{
    background-color: #222222;
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    color: #F4F4F4;
}

nav{
    position: absolute;
    width: 100vw;
    height: 60px;
    background: rgb(121,0,0);
    background: linear-gradient(90deg, rgba(121,0,0,1) 0%, rgba(186,0,0,1) 50%, rgba(255,0,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav--title{
    margin-right: auto;
    margin-left: auto;
}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content--title{
    margin: 0;
}

.content--about{
    width: 400px;
    margin: 0;
}

.headshot{
    width: 250px;
    border-radius: 50%;
}

.drop{
    position: absolute;
    height: 50%;
    margin-left: 0;
    margin-right: 20px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg) brightness(109%) contrast(101%);
    transition: 200ms;
}

.drop:hover{
    transform: rotate(180deg);
    transition: 200ms;
}